<!DOCTYPE html>
<html>
<head>
	<title>Control Dashboard</title>
	<%= stylesheet_link_tag    "dashboard/dashboard" %>
	<%= javascript_include_tag "dashboard/dashboard" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
