
<div id="tilda"></div>
<iframe id="admin" onload="$('#admin').contents().keypress(function(e){$(document.documentElement).trigger(e);});" src="/admin" width="100%" height="100%">
	<p>Your browser does not support iframes.</p>
</iframe>
